{% extends 'base.html.twig' %}

{% block title %}Dionysos - Checkout{% endblock %}

{% block body %}

    <div>
        {% include 'staffNavBar.html.twig' %}

        <div class="min-h-screen p-8 bg-blue-50">
            <form method="post" id="form-articles" action="/panel-reservation">
            <legend class="ml-8 mt-4 text-xl">Informations Client</legend>
            <div class="m-8 p-8 shadow-md rounded-lg bg-white">
                <div class=" grid grid-cols-4 gap-y-12">
                    <div class="col-span-1">Civilité : <span class="font-normal">{{ reservation.civilite }}</span></div>
                    <div class="col-span-1">Nom : <span class="font-normal">{{ reservation.nom }}</span></div>
                    <div class="col-span-2">Prénom : <span class="font-normal">{{ reservation.prenom }}</span></div>

                    <div class="col-span-2 lg:col-span-1">Nombre de couverts : <span class="font-normal">{{ reservation.couverts }}</span></div>
                    <div class="col-span-2 lg:col-span-1">Emplacement : <span class="font-normal">{{ reservation.emplacement }}</span></div>
                    <div class="col-span-2 lg:col-span-1">Date : <span class="font-normal">{{ reservation.date | date("d/m/Y") }}</span></div>
                    <div class="col-span-2 lg:col-span-1">Heure : <span class="font-normal">{{ reservation.horraire | date("H:i") }}</span></div>

                    <address class="col-span-2 xl:col-span-1">Téléphone : <a href="tel:{{ reservation.telephone }}" class="font-normal text-blue-400 underline underline-offset-2">{{ reservation.telephone }}</a></address>
                    <address class="col-span-2 xl:col-span-3">Email : <a href="mailto:{{ reservation.email }}" class="font-normal text-blue-400 underline underline-offset-2">{{ reservation.email }}</a></address>

                    {% if reservation.comments != '' %}
                        <div class="col-span-4 row-span-1 row-start-4">Commentaire
                            <div class="bg-slate-300 shadow rounded p-4 whitespace-normal">
                                {{ reservation.comments }}
                            </div>
                        </div>
                    {% endif %}
                </div>

            </div>

            <legend class="ml-8 mt-4 text-xl">Articles Achetés</legend>
            <div class="m-8 mt-4 p-8 shadow-md rounded-lg bg-slate-600 grid grid-cols-10 gap-12">


                <div class="col-span-10">
                    <p class="text-white mb-2">Articles Commandés</p>
                    <div class="bg-white rounded p-4 grid grid-cols-8 text-left" id="liste-commandes">
                        <div class="col-span-3 lg:col-span-5 p-2">Article</div>
                        <div class="col-span-2 lg:col-span-1 p-2">Quantité</div>
                        <div class="col-span-1 p-2">prix</div>
                        <div class="col-span-2 lg:col-span-1 p-2">suppression</div>
                    </div>
                </div>

                <div class="col-span-10">
                    <p class="text-white">Listes des Articles</p>
                    <div class="mt-4">
                        <select id="liste-commandes-select" class="rounded-lg font-normal p-4 border-0">
                            <option value="null">-- Choisissez une option --</option>
                            {% set currentCategory = null %}
                            {% for item in carte %}
                                {% set closeOpt = false %}
                                {% if item.categorie != currentCategory %}
                                    {% set closeOpt = true %}
                                    {% set currentCategory = item.categorie %}
                                    <optgroup label="{{ currentCategory }}">

                                {% endif %}
                                        <option value="{{ item.id }}">{{ item.nom }}</option>
                            {% endfor %}

                            </optgroup>
                        </select>

                    </div>
                    <div class="grid grid-cols-3 pt-8">
                        <button id="ajout-article" class="col-span-1 bg-blue-500 py-2 px-4 rounded-lg text-white text-center w-full active:bg-blue-600 duration-150">Ajouter l'article</button>
                        <input type="hidden" name="token" value="{{ csrf_token('checkout-reservation') }}">
                        <button type="submit" id="checkout-validation" name="checkout-validation" value="{{reservation.id}}" class="col-start-3 col-span-1 bg-green-500 py-2 px-4 rounded-lg text-white text-center w-full">Valider</button>
                    </div>
                </div>

        </div>
        </form>
        <script src="{{asset('js/checkoutForm.js')}}"></script>
        <script>
            {% for item in carte %}
                articlesList['{{ item.id }}'] = {'nom':"{{ item.nom|e('js') }}",'prix':"{{ item.prix }}"};
            {% endfor %}
        </script>
    </div>
{% endblock %}