{% if vientDeReserver %}
    {% if reservationReussi %}
        <div class="bg-green-200 rounded border-2 border-green-400 font-normal text-green-800 p-4">
            Votre réservation à été enregistrer avec succès
        </div>
    {% else %}
        <div class="bg-red-200 rounded border-2 border-red-400 font-normal text-red-800 p-4">
            Une erreur est survenue et la réservation n'a pas pu s'effectuer
        </div>
    {% endif %}
{% endif %}

<div class="grid grid-cols-8 lg:gap-4 gap-6 mt-8 pb-8">
    <label for="" class="item-label text-left text-3xl text-neutral-900 col-span-8">Nombres de couverts</label>

    <input type="radio" name="couverts" class="couverts hidden" id="couvert-1" value="1" checked required>
    <label for="couvert-1" class="select-none duration-300 p-2 lg:p-4 col-span-1 rounded-lg md:text-base text-xs text-center">1</label>

    {% for i in 2..8 %}
        <input type="radio" name="couverts" class="couverts hidden" id="couvert-{{ i }}" value="{{i}}">
        <label for="couvert-{{ i }}" class="select-none duration-300 p-2 lg:p-4 col-span-1 rounded-lg md:text-base text-xs text-center">{{ i }}</label>
    {% endfor %}
</div>

<div class="flex flex-wrap pb-8">
    <label for="salle" class="text-left text-3xl w-full text-neutral-900">Salle</label>
    <div class=" flex flex-row gap-4 pl-4 w-full py-3">
        <input type="radio" name="salle" class="salle hidden" id="interieur" checked required value="intérieur">
        <label for="interieur" class="duration-300 p-4 rounded-lg lg:text-base text-xs text-center">Intérieur</label>
        <input type="radio" name="salle" class="salle hidden" id="terrasse" value="Terrasse">
        <label for="terrasse" class="duration-300  p-4 rounded-lg lg:text-base text-xs text-center">Terrasse COUVERTE ET CHAUFFEE</label>
    </div>
</div>

<div class="flex flex-wrap pb-8">
    <label for="date" class="text-left text-3xl w-full text-neutral-900">Date</label>
    <div class="pl-4 md:w-1/3 w-5/12 pt-3">
        <input required id="date-picker" type="date" name="date" value="{{ "now"|date("Y-m-d") }}" class="border-0 border-b-2 bg-inherit w-full border-neutral-900 cursor-pointer lg:text-base text-xs" min="{{ "now"|date("Y-m-d") }}">
    </div>
</div>



<div class="flex flex-wrap pb-8">
    <label for="Horraire" class="text-left text-3xl w-full text-neutral-900">Horraire</label>
    <div class="pl-4 w-1/3 pt-3">
        <select required name="heure" id="custom-dropdown" class="lg:text-base text-xs border-0 border-b-2 bg-inherit w-full border-neutral-900 cursor-pointer">
            <optgroup label="Déjeuner&nbsp">
                {% for i in 12..13 %}
                    {% for j in ["00", 15, 30, 45] %}
                            <option>• {{ i }}:{{ j }}</option>
                    {% endfor %}
                {% endfor %}
            </optgroup>

            <optgroup label="Dîner&nbsp">
                {% for i in 19..21 %}
                    {% for j in ["00", 15, 30, 45] %}
                        <option>• {{ i }}:{{ j }}</option>
                    {% endfor %}
                {% endfor %}
            </optgroup>
        </select>
    </div>
</div>