{% extends 'base.html.twig' %}

{% block title %}Chez Dionysos - Réservation{% endblock %}

{% block body %}


    <div class="global-container">

        {% include 'navBar.html.twig' %}

        <div class="article-container">

            {# Title #}
            {% include 'title.html.twig' with {title:'Réservation'} %}


            {# Réserver #}
            <section class="second-section bg-winter-hazel-200">
                <form class="w-2/3 p-8 m-auto" method="post" onsubmit="reserverPartUn(self)" action="/reservation">
                    <div class="flex flex-wrap mt-8 pb-8">
                        <label for="" class="item-label text-left text-3xl text-neutral-900">Nombres de couverts</label>
                        <div class="flex flex-row gap-4 pl-4 w-full py-3">
                            <input type="radio" name="couverts" class="couverts hidden" id="couvert-1" checked>
                            <label for="couvert-1" class="select-none duration-300 md:p-5 p-0 w-1/12 rounded-lg md:text-base text-xs text-center">1</label>
                            
                            {% for i in 2..8 %}
                                <input type="radio" name="couverts" class="couverts hidden" id="couvert-{{ i }}">
                                <label for="couvert-{{ i }}" class="select-none duration-300 md:p-5 p-0 w-1/12 rounded-lg md:text-base text-xs text-center">{{ i }}</label>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="flex flex-wrap pb-8">
                        <label for="couverts" class="text-left text-3xl w-full text-neutral-900">Date</label>
                        <div class="pl-4 w-1/3 pt-3">
                            <input type="date" class="border-0 border-b-2 bg-inherit w-full border-neutral-900 cursor-pointer" min="{{ "now"|date("Y-m-d") }}">
                        </div>
                    </div>

                    <div class="flex flex-wrap pb-8">
                        <label for="salle" class="text-left text-3xl w-full text-neutral-900">Salle</label>
                        <div class=" flex flex-row gap-4 pl-4 w-full py-3">
                            <input type="radio" name="salle" class="salle hidden" id="interieur">
                            <label for="interieur" class="duration-300 md:p-5 p-0 w-1/2 rounded-lg md:text-base text-xs text-center">Intérieur</label>
                            <input type="radio" name="salle" class="salle hidden" id="terrasse">
                            <label for="terrasse" class="duration-300 md:p-5 p-0 w-1/2 rounded-lg md:text-base text-xs text-center">Terrasse BACHEE ET CHAUFFE</label>
                        </div>
                    </div>

                    <div class="flex flex-wrap pb-8">
                        <label for="Horraire" class="text-left text-3xl w-full text-neutral-900">Horraire</label>
                        <div class="pl-4 w-1/3 pt-3">
                            <select id="custom-dropdown" class=" border-0 border-b-2 bg-inherit w-full border-neutral-900 cursor-pointer">
                                <optgroup label="Déjeuner&nbsp">
                                    {% for i in 12..13 %}
                                        {% for j in ["00", 15, 30, 45] %}
                                                <option>• {{ i }}:{{ j }}</option>
                                        {% endfor %}
                                    {% endfor %}
                                </optgroup>

                                <optgroup label="Dîner&nbsp">
                                    {% for i in 19..21 %}
                                        {% for j in ["00", 15, 30, 45] %}
                                            <option>• {{ i }}:{{ j }}</option>
                                        {% endfor %}
                                    {% endfor %}
                                </optgroup>
                            </select>
                        </div>
                    </div>
                    <input type="hidden" name="token" value="{{ csrf_token('make-reservation') }}">
                    <div class="submit-wrapper">
                        <input type="submit" name="reserver" value="Réserver" class="submitButton md:p-5 p-0 w-1/2 rounded-lg md:text-lg text-xs text-center bg-winter-hazel-600 text-neutral-50">
                    </div>
                </form>
            </section>

            <script>
                function reserverPartUn(item){
                    alert(item);
                }
            </script>
        </div>

        {% include 'footer.html.twig' %}

    </div>
{% endblock %}
