{% extends 'base.html.twig' %}

{% block title %}Dionysos - Gestion{% endblock %}

{% block body %}

<div>

    {% include 'staffNavBar.html.twig' %}

    {% if error %}
        test
    {% endif %}
    
    <div id="menu" class="py-8 px-16 bg-blue-50 grid md:grid-cols-5 grid-rows-6">
        <form method="post" action="/panel-gestion" class="shadow-md py-4 px-8 w-full bg-white rounded-xl md:col-start-1 md:col-span-2 md:row-span-2 row-span-1 col-span-5 h-min">
            <legend class="lg:text-lg sm:text-base text-sm tracking-wide">Ajouter un Article</legend>
            
            {# Nom de l'article #}
            <div class="flex flex-wrap md:my-4 my-0">
                <label class="w-full text-start py-4 pr-4 font-normal xl:text-base md:text-sm text-xs">Nom et contenance</label>
                <input required type="text" name="nom" placeholder="nom de l'article ... | contenance ..." class="border-0 w-full px-4 py-2 font-normal border-b-2 border-gray-200 bg-gray-50 radius-xl md:text-sm text-xs">
            </div>

            {# quantité de l'article #}
            <div class="flex flex-wrap md:my-4 my-0">
                <label class="w-full text-start py-4 pr-4 font-normal xl:text-base md:text-sm text-xs">Stock</label>
                <input type="number" name="stock" placeholder="quantité ..." class="border-0 w-full px-4 py-2 font-normal border-b-2 border-gray-200 bg-gray-50 radius-xl md:text-sm text-xs [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none">
            </div>

            {# Prix de l'article #}
            <div class="flex flex-wrap md:my-4 my-0">
                <label class="w-full text-start py-4 pr-4 font-normal xl:text-base md:text-sm text-xs">Prix</label>
                <input required type="number" min="0" name="prix" placeholder="prix de l'article ..." class="border-0 w-full px-4 py-2 font-normal border-b-2 border-gray-200 bg-gray-50 radius-xl md:text-sm text-xs [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none">
            </div>

            {# Catégorie de l'article #}
            <div class="flex flex-wrap md:my-4 my-0">
                <label class="w-full text-start py-4 pr-4 font-normal xl:text-base md:text-sm text-xs">Catégorie</label>
                <select required type="select" name="categorie" class="border-0 w-full px-4 py-2 font-normal border-b-2 border-gray-200 bg-gray-50 radius-xl md:text-sm text-xs">
                    {% for item in categories %}
                        <option>{{item.nom}}</options>
                    {% endfor %}
                </select>
            </div>

            
            <input type="hidden" name="token" value="{{ csrf_token('ajouter-article') }}">

            {# Submit #}
            <button type="submit" name="gestion-submit" value="ajoutArticle" class="mt-2 bg-blue-500 py-2 px-4 rounded-lg text-white text-center w-full">Ajouter</button>
        </form>

        <form method="post" action="/panel-gestion" class="row-span-1 md:mt-0 mt-8 shadow-md py-4 px-8 w-full bg-white rounded-xl md:col-start-4 md:col-span-2 col-span-5 h-min">
            <legend class="text-lg tracking-wide basis-1/2">Ajouter une catégorie</legend>

            {# Nom de la catégorie #}
            <div class="flex flex-wrap my-4">
                <label class="w-full text-start py-4 pr-4 font-normal xl:text-base md:text-sm text-xs">Nom</label>
                <input required type="text" name="nom" placeholder="nom de la catégorie ..." class="border-0 w-full px-4 py-2 font-normal border-b-2 border-gray-200 bg-gray-50 radius-xl md:text-sm text-xs">
            </div>
            
            <input type="hidden" name="token" value="{{ csrf_token('ajouter-categorie') }}">

            {# Submit #}
            <button type="submit" name="gestion-submit" value="ajoutCategorie" class="mt-2 bg-blue-500 py-2 px-4 rounded-lg text-white text-center w-full">Ajouter</button>
        </form>

        <form method="post" action="/panel-gestion" class="row-span-1 md:mt-0 mt-8 shadow-md py-4 px-8 w-full bg-white rounded-xl md:col-start-4 md:col-span-2 col-span-5 h-min">
            <legend class="text-lg tracking-wide basis-1/2">Fermeture et Ouverture</legend>

            {# choisir date #}
            <div class="flex flex-wrap my-4">
                <label class="w-full text-start py-4 pr-4 font-normal xl:text-base md:text-sm text-xs">Date</label>
                <input type="date" name="date" value="{{ "now"|date_modify("+1 day")|date("Y-m-d") }}"  min="{{ "now"|date_modify("+1 day")|date("Y-m-d") }}" placeholder="Select Date" class="border-0 w-full px-4 py-2 font-normal border-b-2 border-gray-200 bg-gray-50 radius-xl md:text-sm text-xs">
            </div>

            <input type="hidden" name="token" value="{{ csrf_token('modifier-calendrier') }}">
            
            {# Ouvrir #}
            <button type="submit" name="gestion-submit" value="ouvert" class="mt-2 bg-blue-500 py-2 px-4 rounded-lg text-white text-center w-full">Ouvrir</button>

            {# Fermer #}
            <button type="submit" name="gestion-submit" value="fermer" class="mt-2 bg-red-500 py-2 px-4 rounded-lg text-white text-center w-full">Fermer</button>
        </form>

        {% if ouvert | length > 0 or fermer | length > 0 %}
            <form method="post" action="/panel-gestion" class="shadow-md py-4 px-8 w-full bg-white rounded-xl md:col-start-1 md:col-span-5 row-span-2 col-span-2 md:mt-8 h-min">
                <legend class="text-lg tracking-wide basis-1/2">Gérer Ouvertures et fermetures exceptionnelles</legend>
                
                <div class="overflow-auto p-4 bg-gray-200 mt-2 rounded h-96">
                    {% for item in ouvert %}
                        <div class="p-2 px-4 bg-white shadow-sm my-4 grid grid-cols-6 items-center rounded">
                            <div class="col-span-4">
                                <span class="text-green-500 mr-8 text-xl">Ouverture spécial</span>
                                {{item.date | date("d/m/Y")}}
                            </div>
                            <button type="submit" name="gestion-submit-suppression" value="{{item.date | date("d-m-Y")}}" class="col-span-2 bg-red-500 py-2 px-4 rounded-lg text-white text-center w-full">Supprimer</button>
                        </div>
                    {% endfor %}
                    {% for item in fermer %}
                        <div class="p-2 px-4 bg-white shadow-sm my-4 grid grid-cols-6 items-center rounded">
                            <div class="col-span-4">
                                <span class="text-red-500 mr-8 text-xl">Fermeture spécial</span>
                                {{item.date | date("d/m/Y")}}
                            </div>
                            <button type="submit" name="gestion-submit-suppression" value="{{item.date | date("d-m-Y")}}" class="col-span-2 bg-red-500 py-2 px-4 rounded-lg text-white text-center w-full">Supprimer</button>
                        </div>
                    {% endfor %}
                </div>

                <input type="hidden" name="token" value="{{ csrf_token('supprimer-calendrier') }}">

            </form>
        {% endif %}


        {% if articles | length > 0 %}
            <form method="post" action="/panel-gestion" class="shadow-md py-4 px-8 w-full bg-white rounded-xl md:col-start-1 md:col-span-5 row-span-2 col-span-2 md:mt-8 h-min">
                <legend class="text-lg tracking-wide basis-1/2">Gérer les articles</legend>
                
                <div class="overflow-auto p-4 bg-gray-200 mt-2 rounded h-96">
                    {% for item in articles %}
                        <div class="p-2 px-4 bg-white shadow-sm my-4 grid grid-cols-6 items-center rounded gap-8">
                            <div class="col-span-2">
                                {{item.nom}} | <input type='number' step='0.01' name="article-prix" value='{{item.prix}}' class="border-0 w-1/12 px-4 py-2 font-normal border-b-2 border-gray-200 bg-gray-50 radius-xl md:text-sm text-xs [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"> €
                            </div>
                            <div class="col-span-1">
                                Stock : <input type='number' name="article-stock" value='{{item.quantite}}' class="border-0 w-3/12 px-4 py-2 font-normal border-b-2 border-gray-200 bg-gray-50 radius-xl md:text-sm text-xs [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none">
                            </div>
                            <button type="submit" name="gestion-article-quantite" value="{{item.id}}" class="col-span-1 bg-green-500 py-2 px-4 rounded-lg text-white text-center w-full">Modifier Stock</button>
                            <button type="submit" name="gestion-article-prix" value="{{item.id}}" class="col-span-1 bg-blue-500 py-2 px-4 rounded-lg text-white text-center w-full">Modifier Prix</button>
                            <button type="submit" name="gestion-article-submit-suppression" value="{{item.id}}" class="col-span-1 bg-red-500 py-2 px-4 rounded-lg text-white text-center w-full">Supprimer</button>
                        </div>
                    {% endfor %}
                </div>

                <input type="hidden" name="token" value="{{ csrf_token('gestion-articles') }}">

            </form>
        {% endif %}
    </div>

{% endblock %}
